<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Seminovos</li>
</ul>

<div class="css">
    <img src="https://cf.shopee.com.br/file/ddcf645a92be3e0bed3e9124b15bd961">
    <img src="https://img.clasf.com.br/2020/03/06/Xbox-One-X-1TB-parcelo-no-carto-20200306183642.5665280015.jpg">
    <img src="https://http2.mlstatic.com/D_NQ_NP_831213-MLB42843691594_072020-W.jpg">
    <img src="https://www.ziliongames.com.br/banco_imagens/produtos/g/microsoft-xbox-one-s-2tb-bundle-gears-of-war-4-seminovo4vNf.jpeg">
    <img src="https://twistergamer.com.br/sis/upload/server/php/files/medium/x360_sys_slim_4gb-588122.jpg">
    <img src="https://img.olx.com.br/images/10/107137260925489.jpg">
    <img src="https://img.clasf.com.br/2021/06/25/PS4-SLIM-SEMI-NOVO-20210625203109.8529320015.jpg">
    <img src="https://i.ebayimg.com/images/g/ijoAAOSw9plhegob/s-l1600.jpg">
    <img src="https://cdn-products.eneba.com/resized-products/f684f638397411ec9fd61ebbad41bee7_350x200_1x-0">
    <img src="https://images.tcdn.com.br/img/img_prod/649042/nintendo_switch_cinza_4993_1_20200624165043.jpg">
    <img src="https://http2.mlstatic.com/D_NQ_NP_109621-MLB20830143329_072016-O.jpg">
    <img src="https://photos.enjoei.com.br/console-videogame-psp-3001-destravado-394498/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8xODk4MzEvMjNhNmVlMTgxN2Q1NzI4ZDEyZWZmMzM4OWQwM2JkYjMuanBn">
</div>
