<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Classicos</li>
</ul>

<div class="css">
    <img src="https://image.dhgate.com/0x0s/f2-albu-g8-M01-44-B7-rBVaVFwZ3D6AGsUzAAIlvYreoSM991.jpg/boa-qualidade-super-mini-cl-ssico-console.jpg">
    <img src="http://s2.glbimg.com/yg5SezxFXoVBuqxTyXve8hDuuBY=/695x0/s.glbimg.com/po/tt2/f/original/2015/04/08/md.jpg">
    <img src="https://http2.mlstatic.com/D_NQ_NP_899511-MLB31193186175_062019-O.jpg">
    <img src="https://s2.glbimg.com/x__O6u6fg0cfwBgjah9XqIIkZmY=/0x0:695x390/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/Y/N/GbDL1qTL67ThQBHpWvbQ/playstation-2-ps2-20-anos-fatos-curiosos-slim-usado.jpg">
</div>
<div class="css">
<img src="https://http2.mlstatic.com/D_NQ_NP_647500-MLB44353433919_122020-W.jpg">
<img src="https://cdn.awsli.com.br/600x700/17/17021/produto/14828212/0c8c5cd55d.jpg">
<img src="https://img.clasf.com.br/2019/12/19/Road-Rash-3-Mega-Drive-Pronta-Entrega-Brinde-20191219233204.5268220015.jpg">
<img src="https://photos.enjoei.com.br/fita-cartucho-par-mega-drive-sega-genesis-com-3-jogos-em-1-basquete-volley-e-futebol/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy83NzI5OTA0LzkxZjRiNDA0ZjMzYmZlN2U5OWY0N2E5MzE1MWFmOTFiLmpwZw">
</div>
<div class="css">
<img src="https://http2.mlstatic.com/D_NQ_NP_755535-MLB47304362290_082021-W.jpg">
</div>