<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Playstation</li>
    </ul>
<div class="css">
    <img src="https://images-na.ssl-images-amazon.com/images/I/81qJ1ui8bzL._AC_SL1500_.jpg">
        <img src="https://images-americanas.b2w.io/produtos/01/00/item/124189/3/124189327_1GG.jpg">
        <img src="https://images-submarino.b2w.io/produtos/01/00/img/1459449/0/1459449098_1GG.jpg">
        <img src="https://sm.ign.com/ign_br/game/h/horizon-ze/horizon-zero-dawn-1_xv24.jpg">
</div>
<div class="css">
    <img src="https://ae01.alicdn.com/kf/Ufd89ec30a8a249849245f0e91a2bda1cg/Fantasma-de-tsushima-ps4-original-playstation-4-jogo.jpg">
    <img src="https://c.scdn.gr/images/sku_images/048602/48602813/20210719104349_cbe475e4.jpeg">
    <img src="https://www.mobygames.com/images/covers/l/448216-the-last-of-us-remastered-playstation-4-front-cover.jpg">
    <img src="https://images-americanas.b2w.io/produtos/01/00/offers/01/00/item/134186/5/134186568SZ.jpg">
</div>
<div class="css">
    <img  src="https://cf.shopee.com.br/file/54446e76f27a5d4e5e3827838d37f01b">
    <img src="https://m.media-amazon.com/images/I/71jN27mYlhL._AC_SL1500_.jpg">
    <img style="left: 250pt;" src="https://www.mobygames.com/images/covers/l/448216-the-last-of-us-remastered-playstation-4-front-cover.jpg">
</div>