<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>PC</li>
</ul>

<div class="css">
    <img src="https://http2.mlstatic.com/D_NQ_NP_726876-MLB43965961119_112020-O.jpg">
    <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1264469179">
    <img src="https://http2.mlstatic.com/D_NQ_NP_745243-MLB46861699550_072021-O.jpg">
    <img src="https://cdn.dooca.store/180/products/pc-gamer-nivel-40-completo_620x620+fill_ffffff.jpg?v=1612873886&webp=0">
</div>
<div class="css">
    <img src="https://m.media-amazon.com/images/I/51s0zhG-aYL._AC_SY450_.jpg">
    <img src="https://www.techinn.com/f/13734/137349310/acer-predator-35-uw-qhd-led-curved-100hz-monitor.jpg">
    <img src="https://www.fastshop.com.br/wcsstore/FastShopCAS/imagens/_IN_Informatica/SGLC24RG50PTO/V2/SGLC24RG50PTO_PRD_447_2.jpg">
    <img src="https://images.kabum.com.br/produtos/fotos/127408/placa-de-video-msi-nvidia-geforce-rtx-3090-ventus-3x-24g-oc-gddr6x_1599749215_gg.jpg">
</div>
<div class="css">
    <img  src="https://m.media-amazon.com/images/I/61Udx3CqBtL._AC_SY450_.jpg">
    <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1880348687">
    <img src="https://m.media-amazon.com/images/I/51Zb22O1UfL._AC_SY450_.jpg">
    <img src="https://images.tcdn.com.br/img/img_prod/687149/apoio_teclado_gamer_id023_redragon_infernal_101867_4_3f07856b216e613c02f173192f2fdd77.jpg">
    <img src="https://patoloco.com.br/arquivos/produtos/imagens_adicionais/4b18ddb9a5f985556aa3dd0c419a56699890139b.jpeg">
    <img src="https://http2.mlstatic.com/D_NQ_NP_932045-MLB47667565109_092021-W.jpg">
    <img src="https://cdn1.appsisecommerce.com.br/clientes/cliente10694/produtos/29899/Z2640.jpg">
    <img src="https://casaabertabrasil.fbitsstatic.net/img/p/mesa-gamer-preto-e-vermelho-nt2020-notavel-moveis-81555/269096-1.jpg?w=1000&h=1000&v=no-change">
</div>