<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Nintendo</li>
    </ul>

    <div class="css">
            <img src="https://www.fgamesnatal.com/imagem/index/26577604/G/nintendo_switch_32gb_new_hac_01_xkw_bivolt_d_nq_np_926451_mlb32329963368_092019_f.jpg">
            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6414/6414113_sd.jpg;maxHeight=640;maxWidth=550">
            <img src="https://m.media-amazon.com/images/I/81H24BsnAMS._AC_SL1500_.jpg">
            <img src="https://images.tcdn.com.br/img/img_prod/649042/hyrule_warriors_age_of_calamity_nintendo_switch_5545_1_fcbc16b94b34e2b83a6f970a15a2a0c2.jpg">
    </div>
    <div class="css">
        <img src="https://i5.walmartimages.com/asr/b6436620-88f7-4de1-b83f-ab63a04d31c7_1.84fa4280b3c00768f867997304957768.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81gNcEMA%2BFL._SL1500_.jpg">
        <img src="https://assets-prd.ignimgs.com/2021/03/11/image-2021-03-11-151546-1615475804127.png">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPo7TCkWEKsQGQEIeSGVsbnFTzl-_vnKVv2g&usqp=CAU">
    </div>
    <div class="css">
        <img  src="https://cdn-products.eneba.com/resized-products/VXynWYwYFoWS7xgV8BRvh4tNb1a-07asnszhFeQJ0KE_350x200_1x-0.jpeg">
        <img src="https://cf.shopee.com.br/file/6bae8a5feec8853b2bc5f62206ef439d">
    </div>